tokenizers
transformers>=4.40.0
nltk
wandb
tqdm
openai
markdown-it-py
tornado
huggingface-hub
pymongo
sentence-transformers
sentencepiece
datasets
accelerate
evaluate
peft
deepspeed
bitsandbytes
ujson
dill
rouge_score
fuzzywuzzy
python-Levenshtein
hydra-core
hydra-colorlog